@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main-container{
    height: 18vh;
    padding: 10px;
    background-size: cover;
}
.price {
    font-family: 'roboto';
    font-size: 16px;
    padding-left: 10px;
}
.button-container{
    margin: 20px;
    align-content: center;
}
.btn{
    margin-right: 10px;
    font-weight: bold;
}
.container-1{
    align-content: ;
}
.product_item_text{
    text-align: center;
}
.image{
    width: 35vw;
}
.heading{
    font-family: 'Times New Roman';
    font-size: 40px;
    font-weight: bold;
}
.bg-container {
    background-color: #19232d;
}

.logo {
    height: 60px;
    width: 80px;
}

.icons {
    color: #5a7184;
    font-size: 20px;
}

.icon-container {
    background-color: #959ead;
    text-align: center;
    padding-top: 8px;
    padding-left: 2px;
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

p {
    color: #5a7184;
    font-size: 14px;
    font-weight: bold;
}

h1 {
    font-size: 16px;
    font-weight: bold;
    color: #959aed;
}

.horizontal-line {
    border-style: solid;
    border-width: 1px;
    border-color: #5a7184;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f7f707 !important;
    text-align: center;
    font-family: 'monoton';
}
.fa-shopping-cart{
    color: azure;
    align-self: 20vw;
    margin-top: 12px;
}
.nav-bg {
    background-image: linear-gradient(to left, #b5a604, black);
}